extends layout

block content
  h1 Nodissimo
  p Watch the visits flow by.
  div(ng-controller='Dashboard')
    button(ng-click='generateLoad()') Generiere Load
    graph(listen='current_visits', title='Aktuelle Visits:')